<div class="header">
  <div class="container">
    <div class="row">
      <div class="name col-md-2">
        <h2 id="name">Benkassmi</h2>
      </div>
      <div class="col-md-10">
        <ul class="nav nav-pills pull-right">
          <li class="active">Welcome</li>
          <li>Portfolio</li>
          <li>Blog</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="jumbotron">
    <div class="container">
      <h1>Hi, I'm Abdelghafour, webdesigner. Welcome to my portfolio site. If you want to see me work, click the button!</h1>
      <button type="button" class="btn btn-default">The button</button>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <ul class="pull-left">
          <li><a href=""><img class="logo"  src="http://image.flaticon.com/icons/svg/34/34227.svg"></a></li>
          <li><a href=""><img class="logo"  src="http://image.flaticon.com/icons/png/512/25/25231.png"></a></li>
        </ul><br><br>
        <p>&copy; Abdelghafour Benkassmi</p>
      </div>
    </div>
  </div>
</div>