<div class="main">
  <div class="jumbotron welcome">
    <div class="container">
      <h1>Hi, I'm Abdelghafour, webdesigner. Welcome to my portfolio site. If you want to see me work, click the button!</h1>
      <button type="button" class="btn btn-default">The button</button>
    </div>
  </div>
</div>

