<div class="main portfolio">
  <div class="jumbotron slideshow">
    <div class="container">
      <div class="slider">
        <ul>
          <li><img src="http://www.cryan.com/daily/2016/BostonBackBay.png"></li>
          <li><img src="http://www.cryan.com/daily/2016/ArtofAnnimation.png"></li>
          <li><img src="http://www.cryan.com/daily/2016/HauntedMansion.png"></li>
          <li><img src="http://www.cryan.com/daily/2016/FloridaPool.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="row">
    <div class="col-md-6 app-info">
      <img src="http://www.cryan.com/daily/2016/BostonBackBay.png">
      <h3>Boston Back Bay</h3>
      <p>Random image found on the internet.</p>
    </div>
    <div class="col-md-6 app-info">
      <img src="http://www.cryan.com/daily/2016/ArtofAnnimation.png">
      <h3>Art of Animation</h3>
      <p>Random image found on the internet.</p>
    </div>
  </div>
	<div class="row">
    <div class="col-md-6 app-info">
      <img src="http://www.cryan.com/daily/2016/HauntedMansion.png">
      <h3>Haunted Mansion</h3>
      <p>Random image found on the internet.</p>
    </div>
    <div class="col-md-6 app-info">
      <img src="http://www.cryan.com/daily/2016/FloridaPool.png">
      <h3>Florida Pool</h3>
      <p>Random image found on the internet.</p>
    </div>
  </div>
</div>