<div class="main portfolio">
  <div class="jumbotron slideshow">
    <div class="container">
      <div class="slider">
        <ul>
          <li><img src="http://img0.mxstatic.com/wallpapers/c55a184596b4ca174c978bd6c609ffa2_large.jpeg"></li>
          <li><img src="http://img0.mxstatic.com/wallpapers/c55a184596b4ca174c978bd6c609ffa2_large.jpeg"></li>
        </ul>
      </div>
    </div>
  </div>
</div>