// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E5E5E5;
}

.header .name {
  font-family: 'Roboto', sans-serif;
}

.header .container {
  padding: 10px 0
}

.header ul {
  padding: 20px 0 0 0
}

.header .nav-pills li {
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #E5E5E5;
}

.main {
  width: 100%;
}

.main .welcome {
  background: url("https://www.ayco.com/content/img/carousel/jumbotron-log.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.main .welcome h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main .btn {
  float: right;
  padding: 10px 20px;
}

.footer {
  margin-top: 100px;
}

.footer .logo {
  width: 32px;
  height: 32px;
}

.footer li {
  display: inline-block;
  margin-right: 10px;
}

.slider {
  height: 300px;
}

.slider img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.unslider-arrow {
  display: block;
  width: 32px;
  height: 32px;

  top: 50%;
  right: -50px;
  left: auto;
  margin-top: -16px;

  background: rgba(0,0,0,.2) no-repeat center center;
  background-image: url('https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/next-128.png');
  background-size: cover;
  
  border-radius: 32px;
  text-indent: -999em;
}


.unslider-arrow.prev {

  transform: rotate(-180deg);
}